name: Linters

on:
  push:
    branches:
      - main
      - ipdk_v*
  pull_request:
    branches:
      - main
      - ipdk_v*
  workflow_dispatch:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: avto-dev/markdown-lint@v1.5.0
        with:
          args: '--config ./linters/mdl_config.yml ./*.md'

  docker-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: true
          ignore: DL3041
